<footer class="footer">
  <div class="container">
    <div class="row justify-content-center gy-4">

      <div class="col-12 col-sm-6 col-lg-3 text-center text-lg-start">
        <a routerLink="/" style="text-align: center; display: block;">
          <img src="images/CPMLogo.png" alt="Logo" style="max-width: 100px;">
        </a>
      </div>

      <div class="col-12 col-sm-6 col-lg-3 text-center text-lg-start">
        <h2>Contactos</h2>
        @if (getContact('morada'); as morada) {
          <p>{{ morada.valor }}</p>
        }
        @if (getContact('telefone'); as tel) {
          <p>Tlf: <a [href]="'tel:' + tel.valor" style="color: inherit;">{{ tel.valor }}</a></p>
        }
        @if (getContact('email'); as mail) {
          <p><a [href]="'mailto:' + mail.valor" style="color: inherit;">{{ mail.valor }}</a></p>
        }
      </div>

      <div class="col-12 col-sm-6 col-lg-3 text-center text-lg-start">
        <h2>Doações</h2>
        <p><strong>NIF:</strong> 315604417</p>
        <p>Consulte o <a href="https://www.portaldasfinancas.gov.pt" target="_blank" style="color: inherit;">Portal das Finanças</a> e insira o nosso NIF na Consignação do IRS.</p>
      </div>

      <div class="col-12 col-sm-6 col-lg-3 text-center text-lg-start">
        <h2>Políticas</h2>
        <p><a href="/CPMoita/docs/Protecção_de_dados.pdf" target="_blank" style="color: inherit;">Protecção de Dados</a></p>
      </div>

    </div>
  </div>
</footer>
