.navbar {
  background-color: #e3e6ea !important;
}

.navbar-brand {
  position: sticky;
  top: 0;
  z-index: 1001;
}

.navbar-menu {
  position: sticky;
  top: 100px;
  z-index: 1000;
}

@media (max-width: 991.98px) {
  .navbar-menu {
    top: 76px;
  }
}
